@import "../../scss/color-palette";

.circle-button {
    border-radius: 1rem;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
    z-index: 2000;
}

$node-colors: (
    "success": $base-green-400,
    "primary": $base-purple-500,
    "danger": $base-red-500,
    "blue": $base-blue-500,
    "default": $base-gray-600
);

.button-icon {
    font-size: 0.66rem;
}

.vue-flow__controls {
    border: 1px solid var(--ks-border-primary);
    border-radius: var(--bs-border-radius);
}

.vue-flow__controls-button {
    color: var(--bs-black);
    border-bottom-color: var(--bs-border-color);

    svg {
        fill: var(--bs-black);
    }

    html.dark & {
        background: var(--ks-background-card);
        color: var(--bs-white);

        svg {
            fill: var(--bs-white);
        }
    }
}

:root {
    #{--ks-topology-edge-color}: #9A8EB4;
}

.vue-flow__container {
    .top-button-div {
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
        justify-content: center;
        padding-right: 3px;
        display: flex
    }

    .vue-flow__node-cluster {
        pointer-events: none !important;
    }

    .vue-flow__handle {
        opacity: 0 !important;
    }

    .vue-flow__edge-path {
        stroke: var(--ks-topology-edge-color);
        fill: none;
    }

    @each $color, $value in $node-colors {
        .ks-topology-#{$color}-border {
            background-color: rgba($value, 0.05);
            border: 1px solid $value;
        }
    }
}

.is-exporting {
    .vue-flow__controls,
    .vue-flow__controls-button,
    .vue-flow__handle,
    .top-button-div,
    .circle-button {
        display: none !important;
    }
}