@use "../src/scss/variables.scss" as global-var;

body {
    background-color: var(--ks-background-body);
    color: var(--ks-content-primary);
}

// status
@each $key, $value in global-var.$colors {
    .bg-#{$key} {
        background-color: $value;
    }

    .el-button.status-#{$key} {
        cursor: default;
        border: 0.5px solid $value;
        background: var(--ks-background-card);

        .material-design-icon {
            color: $value;
        }

        html.dark & {
            background: var(--bs-tertiary);
        }
    }
}