@import "variables";

.material-design-icon > .material-design-icon__svg {
    bottom: 0;
}

.vue-flow__node-cluster {
    pointer-events: none !important;
}

marker[id*='id=marker-custom&type=arrowclosed'] polyline {
    stroke: $gray-700;
    fill: $gray-700;
}

marker[id*='id=marker-danger&type=arrowclosed'] polyline {
    stroke: $danger;
    fill: $danger;
}

.vue-flow__handle {
    opacity: 0 !important;
}

.vue-flow__edge-path {
    stroke: $gray-700;
}


.top-button-div {
    width: 100%;
    justify-content: end;
    transform: translate(-5%, -50%) !important;
}

.rounded-button {
    border-radius: 1rem;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
    z-index: 2000;
}

.button-icon {
    font-size: 0.66rem;
}


