@import "variables";

.circle-button {
    border-radius: 1rem;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
    z-index: 2000;
}

.button-icon {
    font-size: 0.66rem;
}

.vue-flow__controls {
    border: 1px solid var(--ks-border-primary);
    border-radius: var(--bs-border-radius);
}

.vue-flow__controls-button {
    color: var(--bs-black);
    border-bottom-color: var(--bs-border-color);

    svg {
        fill: var(--bs-black);
    }

    html.dark & {
        background: var(--ks-background-card);
        color: var(--bs-white);

        svg {
            fill: var(--bs-white);
        }
    }
}

.vue-flow__container {
    .top-button-div {
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
        justify-content: center;
        padding-right: 3px;
        display: flex
    }

    .vue-flow__node-cluster {
        pointer-events: none !important;
    }


    marker[id*='id=marker-custom&type=arrowclosed'] polyline {
        stroke: #9A8EB4;
        fill: #9A8EB4;
    }

    marker[id*='id=marker-danger&type=arrowclosed'] polyline {
        stroke: $red;
        fill: $red;
    }

    .vue-flow__handle {
        opacity: 0 !important;
    }

    .vue-flow__edge-path {
        stroke: #9A8EB4;
    }
}
