@import "variables";

.material-design-icon > .material-design-icon__svg {
    bottom: 0;
}


.rounded-button {
    border-radius: 1rem;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.25rem;
    z-index: 2000;
}

.button-icon {
    font-size: 0.66rem;
}

.vue-flow__controls-button {
    color: black;
}

.vue-flow__container {
    .top-button-div {
        position: absolute;
        top: 0;
        width: 100%;
        justify-content: end;
        display: flex;
        right: -16px;
        transform: translate(-5%, -50%) !important;
    }

    .vue-flow__node-cluster {
        pointer-events: none !important;
    }


    marker[id*='id=marker-custom&type=arrowclosed'] polyline {
        stroke: #9A8EB4;
        fill: #9A8EB4;
    }

    marker[id*='id=marker-danger&type=arrowclosed'] polyline {
        stroke: $red;
        fill: $red;
    }

    .vue-flow__handle {
        opacity: 0 !important;
    }

    .vue-flow__edge-path {
        stroke: #9A8EB4;
    }
}
