name: Test
permissions:
  contents: read
  pull-requests: write

on: push

jobs:
  npm:
    name: Test the package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v4

      - name: Install dependencies
        run: npm install

      - name: Build types
        run: npm run build:types 

      - name: Build
        run: npm run build 

      - name: Linting
        run: npx eslint

      - name: Test
        run: npm run test --coverage